In [24]:
# information about columns


# Date
# Reporting date.

# Location ISO Code
# Location codes based on ISO standards.

# Location
# Location name.

# New Cases
# New daily positive cases.

# New Deaths
# New daily deaths.

# New Recovered
# New daily recovered.

# New Active Cases
# New daily active cases.

# Total Cases
# Total positive cases until the related date.

# Total Deaths
# Total deaths until the related date.

# Total Recovered
# Total recovered until the related date.

# Total Active Cases
# Total active cases until the related date.

# Location Level
# Location level.

# City or Regency
# City or district name of location.

# Province
# Province name of location.

# Country
# Country name of location.

# Continent
# Continent name of location.

# Island
# Major island name of location.

# Time Zone
# Time zone of location.

# Special Status
# Special status of location.

# Total Regencies
# Number of regencies in the location.

# Total Cities
# Number of cities in the location.

# Total Districts
# Number of districts in the location.

# Total Urban Villages
# Number of urban villages in the location.

# Total Rural Villages
# Number of rural villages in the location.

# Area (km2)
# Location area (km2).

# Population
# Population in the location.

# Population Density
# Population density in the location (Formula: Population / Area).

# Longitude
# Longitude of location.

# Latitude
# Latitude of location.

# New Cases per Million
# Formula: (New Cases / Population) * 1000000

# Total Cases per Million
# Formula: (Total Cases / Population) * 1000000

# New Deaths per Million
# Formula: (New Deaths / Population) * 1000000

# Total Deaths per Million
# Formula: (Total Deaths / Population) * 1000000

# Total Deaths per 100rb
# Formula: (Total Deaths / Total Cases) * 100

# Case Fatality Rate
# Formula: (Total deaths / total cases) * 100

# Case Recovered Rate
# Formula: (Total Recovered / Total Cases) * 100

# Growth Factor of New Cases
# Under 1 means decrease, 1 means flat, above 1 means increase. Formula: Today New Cases / Yesterday New Cases

# Growth Factor of New Deaths
# Under 1 means decrease, 1 means flat, above 1 means increase. Formula: Today New Deaths / Yesterday New Deaths

In [25]:
# run on terminal source /home/eilhie/anaconda3/bin/activate
from matplotlib import pyplot as plt
from sklearn import datasets
import pandas as pd
import scipy
import numpy as np
import seaborn as sns

In [26]:
df = pd.read_csv("covid_19_indonesia_time_series_all.csv")
df

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,182.93%,1.00,1.00
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.0,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,174.42%,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31817,9/15/2022,ID-SA,Sulawesi Utara,37,0,0,37,52770,1213,50997,...,1.259638,14.01,19974.38,0.0,459.14,45.91,2.30%,96.64%,2.85,1.00
31818,9/15/2022,ID-SB,Sumatera Barat,13,0,3,10,104640,2371,102066,...,-0.850253,2.36,18959.11,0.0,429.59,42.96,2.27%,97.54%,6.50,1.00
31819,9/15/2022,ID-SS,Sumatera Selatan,16,0,1,15,82198,3376,78510,...,-3.216212,1.95,10002.74,0.0,410.83,41.08,4.11%,95.51%,3.20,1.00
31820,9/15/2022,ID-SU,Sumatera Utara,50,0,5,45,158866,3288,154924,...,2.191894,3.36,10680.15,0.0,221.04,22.10,2.07%,97.52%,1.92,1.00
31821,9/16/2022,IDN,Indonesia,2358,27,2997,-666,6405044,157876,6218708,...,-0.789275,8.89,24153.07,0.1,595.34,59.53,2.46%,97.09%,0.89,1.29

In [27]:
df.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
count,31822.000000,31822.000000,31822.000000,31822.000000,3.182200e+04,31822.000000,3.182200e+04,31822.000000,0.0,31822.000000,...,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,29883.000000,28375.000000
mean,402.311388,9.920652,390.398498,1.992238,1.594500e+05,4564.753221,1.492615e+05,5623.782415,NaN,24.027277,...,738.894928,113.700478,-2.725681,28.133292,11485.038800,0.640308,289.633640,28.963329,1.326795,1.033834
std,2320.629838,64.139080,2199.878802,1219.513355,6.264435e+05,17693.731369,5.958536e+05,28537.412305,NaN,68.359734,...,2729.431626,9.862068,3.608065,74.309710,16477.385479,1.933016,363.428724,36.342881,2.679379,1.351755
min,0.000000,0.000000,0.000000,-29938.000000,1.000000e+00,0.000000,0.000000e+00,-2343.000000,NaN,1.000000,...,8.590000,96.910522,-8.682205,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,2.000000,-12.000000,5.223250e+03,128.000000,3.913500e+03,80.000000,NaN,7.000000,...,47.790000,106.109004,-6.204699,0.830000,1291.367500,0.000000,38.862500,3.890000,0.650000,0.750000
50%,27.000000,0.000000,20.000000,0.000000,2.359650e+04,565.500000,2.102750e+04,557.000000,NaN,11.000000,...,103.840000,113.417654,-2.461746,5.710000,6804.285000,0.000000,158.415000,15.840000,1.000000,1.000000
75%,130.000000,3.000000,123.000000,19.000000,6.992775e+04,2189.000000,6.414200e+04,2279.000000,NaN,18.000000,...,262.700000,121.201093,0.212037,22.290000,14557.360000,0.540000,389.910000,38.990000,1.310000,1.000000
max,64718.000000,2069.000000,61361.000000,39165.000000,6.405044e+06,157876.000000,6.218708e+06,586113.000000,NaN,416.000000,...,16334.310000,138.696030,4.225615,1459.040000,130231.620000,63.800000,1632.600000,163.260000,175.000000,134.500000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 9.2+ MB

In [29]:
df.drop(['Location ISO Code','Continent','Time Zone','Longitude','Latitude', 'City or Regency', 'Special Status'],axis = 1, inplace=True)

In [30]:
df.head()

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,...,Population Density,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,DKI Jakarta,2,0,0,2,39,20,75,-56,...,16334.31,0.18,3.60,0.0,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,DKI Jakarta,2,0,0,2,41,20,75,-54,...,16334.31,0.18,3.78,0.0,1.84,0.18,48.78%,182.93%,1.0,1.0
2,3/2/2020,Indonesia,2,0,0,2,2,0,0,2,...,138.34,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,Riau,1,0,0,1,1,0,1,0,...,69.80,0.16,0.16,0.0,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,DKI Jakarta,2,0,0,2,43,20,75,-52,...,16334.31,0.18,3.96,0.0,1.84,0.18,46.51%,174.42%,1.0,1.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location                     31822 non-null  object
 2   New Cases                    31822 non-null  int64
 3   New Deaths                   31822 non-null  int64
 4   New Recovered                31822 non-null  int64
 5   New Active Cases             31822 non-null  int64
 6   Total Cases                  31822 non-null  int64
 7   Total Deaths                 31822 non-null  int64
 8   Total Recovered              31822 non-null  int64
 9   Total Active Cases           31822 non-null  int64
 10  Location Level               31822 non-null  object
 11  Province                     30893 non-null  object
 12  Country                      31822 non-null  object
 13  Island                       30893 non-null  object
 14  Total Regencies              31822 non-null  int64
 15  Total Cities                 30921 non-null  float64
 16  Total Districts              31822 non-null  int64
 17  Total Urban Villages         30918 non-null  float64
 18  Total Rural Villages         30893 non-null  float64
 19  Area (km2)                   31822 non-null  int64
 20  Population                   31822 non-null  int64
 21  Population Density           31822 non-null  float64
 22  New Cases per Million        31822 non-null  float64
 23  Total Cases per Million      31822 non-null  float64
 24  New Deaths per Million       31822 non-null  float64
 25  Total Deaths per Million     31822 non-null  float64
 26  Total Deaths per 100rb       31822 non-null  float64
 27  Case Fatality Rate           31822 non-null  object
 28  Case Recovered Rate          31822 non-null  object
 29  Growth Factor of New Cases   29883 non-null  float64
 30  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(11), int64(12), object(8)
memory usage: 7.5+ MB