# Case Intern Batch 1 - Edu

Pada case ini, kalian akan membuat sebuah Machine Learning Project sederhana, dimana kalian akan memproses sebuah dataset, dari tahap exploration , melakukan EDA, data preparation, sampai modelling serta melakukan evaluasi model.

Referensi code jika dibutuhkan, JANGAN MENJIPLAK ATAU COPY PASTE SECARA MURNI!!, konsekuensi menjiplak = 0

1. End-To-End Machine Learning (Classification): https://deepnote.com/@ayman-rafif-2814/AOL-Machine-Learning-2223-66ed99b1-0f9c-4ef2-b363-6f7df81b8d34
2. EDA: https://www.analyticsvidhya.com/blog/2020/08/exploratory-data-analysiseda-from-scratch-in-python/

### Pengenalan terhadap Dataset

Dataset yang akan digunakan adalah dataset mengenai Bank Marketing(Bank.csv), dimana sebagai seorang data scientist, kita perlu membangun sebuah model prediksi yang dapat memperkirakan apakah seorang nasabah akan menyetujui/berlangganan sebuah promosi atau marketing baru yang dibuat oleh bank, sehingga pihak bank dapat memprediksi persentase keberhasilan suatu strategi marketing agar dapat memperkirakan laba yang didapat oleh bank.

Untuk penjelasan fitur dan atribut dapat dilihat pada Bank-info.txt.

## Import Libraries

In [ ]:
#Tulis semua libraries yang diperlukan disini
#setiap libraries yang ditulis diluar block code ini akan mengurangi final score sebesar 2 tiap libraries
#rerun cell code ini ketika anda menambahkan libraries baru
import pandas as pd
import seaborn as sns
import numpy as np

#Add neccesary libraries here

## I. Data Exploration (15%)

In [ ]:
#Read Bank.csv and store it into a dataframe named df.
df = pd.read_csv("Bank.csv",sep=";")

In [ ]:
#print first 5 data row from df using head()
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [ ]:
#Print brief information of the dataset using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

(45211, 17)

In [ ]:
#check whether there is duplicated data in this dataset
#write your code here

dupli_sum = df.duplicated().sum()
print(dupli_sum)

0

In [ ]:
#check whether there is missing value in this dataset
#write your code here

pd.isna(df).sum()
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
#Rename 'y' column into 'deposit' to make easier interpretation
#write your code here

In [ ]:
#Add more cell if neccesary

Berikan kesimpulan terhadap hasil yang sudah anda dapat di Data Exploration!

Write your explanation Here
....

## II. Exploratory Data Analysis (30%)

In [ ]:
#Make at least 1 univariate analysis, 1 bivariate analysis, 1 multivariate analysis , and correlation heatmap plot
#Make sure that your plot contains title, xlabel,ylabel, and all neccesary attributes to create a good explanatory plot
#Don't forget to write your analysis for each analysis/plot you make

#Write your code here

Write your Explanation Here...

In [ ]:
#Add more code cell if neccesary

Write your Explanation Here...

## III. Feature Engineering (15%)

In [ ]:
#Using label encoding method, encode all categorical column into numeric
#write your code here

In [ ]:
#Create 2 variable named X and Y, where X contains all independent variables and Y contains target variable
#write your code here

In [ ]:
#Do feature scaling on all independent variables stored in X
#write your code here

In [ ]:
#separate both X and Y to training and testing set with proportion of test size of 20%
#write your code here

In [ ]:
#print shape of each train and testing set that already separated
#write your code here

## IV. Modelling (15%)

In [ ]:
#Build 2 machine learning model and evaluate both model with its accuracy score.
#write your code here

In [ ]:
#evaluate model 1
#write your code here

In [ ]:
#build model 2
#write your code here

In [ ]:
#evaluate model 2
#write your code here

On your perspective, which model performs better on this classification problem? Explain your answer!

Write Your Explanation Here!!

## V. Video Explanation(10%)

Create an explanation video only on EDA Part (Part II), maximum time of the video is 5 minutes, explain all your plot and what insight that you get clearly and briefly.

Make sure your video link could be accessed and viewed, else your point will not counted

Copy your Link Here : ........