In [6]:
with open('sample.txt', 'r') as reader:
    print(reader.read())

A text file can have many words in it
These words are written on the second line
Third line
Fourth line
Fifth line
Sixth line
Seventh line
Eighth line
Ninth line
Tenth line. This is the end of the text file!

In [7]:
with open('sample.txt', 'r') as reader:
    print(reader.readlines())

['A text file can have many words in it\n', 'These words are written on the second line\n', 'Third line\n', 'Fourth line\n', 'Fifth line\n', 'Sixth line\n', 'Seventh line\n', 'Eighth line\n', 'Ninth line\n', 'Tenth line. This is the end of the text file!']

In [12]:
import csv
with open('sample.csv', 'r') as file:
    lines = csv.DictReader(file, delimiter=',')
    for line in lines:
        print(line)

{'Username': 'booker12', 'Login email': 'rachel@example.com', 'Identifier': '9012', 'First name': 'Rachel', 'Last name': 'Booker'}
{'Username': 'grey07', 'Login email': '', 'Identifier': '2070', 'First name': 'Laura', 'Last name': 'Grey'}
{'Username': 'johnson81', 'Login email': '', 'Identifier': '4081', 'First name': 'Craig', 'Last name': 'Johnson'}
{'Username': 'jenkins46', 'Login email': 'mary@example.com', 'Identifier': '9346', 'First name': 'Mary', 'Last name': 'Jenkins'}
{'Username': 'smith79', 'Login email': 'jamie@example.com', 'Identifier': '5079', 'First name': 'Jamie', 'Last name': 'Smith'}

In [14]:
with open('sample.csv', 'r') as file:
    lines = csv.reader(file, delimiter=',')
    for line in lines:
        print(line)

['Username', 'Login email', 'Identifier', 'First name', 'Last name']
['booker12', 'rachel@example.com', '9012', 'Rachel', 'Booker']
['grey07', '', '2070', 'Laura', 'Grey']
['johnson81', '', '4081', 'Craig', 'Johnson']
['jenkins46', 'mary@example.com', '9346', 'Mary', 'Jenkins']
['smith79', 'jamie@example.com', '5079', 'Jamie', 'Smith']

In [1]:
import pandas as pd
df = pd.read_csv('sample.csv')
df.head()

    Username         Login email  Identifier First name Last name
0   booker12  rachel@example.com        9012     Rachel    Booker
1     grey07                 NaN        2070      Laura      Grey
2  johnson81                 NaN        4081      Craig   Johnson
3  jenkins46    mary@example.com        9346       Mary   Jenkins
4    smith79   jamie@example.com        5079      Jamie     Smith