# UAS - STAT6152016 - Introduction to Data Science

__Video (10 poin) : #letakkan link video Anda disini__

### 1. Apa tujuan melakukan Exploratory Data Analysis (EDA)? (5 poin)

Tuliskan jawaban anda disini

### 2.	Jelaskan setidaknya 2 cara/teknik dalam melakukan Exploratory Data Analysis (EDA)? (8 poin)

Tuliskan jawaban anda disini

### 3.Kapan kondisi yang tepat untuk menggunakan barchart, scatterplot, dan  histogram (12 poin)

Tuliskan jawaban anda disini

### 4.Working with Data   
   
NIM dengan digit akhir Ganjil (contoh: 2602029371) gunakan file `‘CustomerChurnData.csv’`  
NIM dengan digit akhir Genap (Contoh: 2602029372) gunakan file `‘StrokeData.csv’`

#### 4a. Data Loading & Cleaning (20 poin)

Tuliskan jawaban anda disini

In [2]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns

df = pd.read_csv('StrokeData.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

#### 4b. Exploratory Data Analysis & Visualization (30 poin)

Tuliskan jawaban anda disini

#### 4c. Interpretasi Hasil (15 poin)

Tuliskan jawaban anda disini